/* color code for blue 
#51c2cf
#1a4584 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comfortaa', cursive;
}
.panel{
    background:#1a4584  ;
}
.panel .panel-body{
    font-size: 13px;
}
.panel .panel-body a{
    color: white;
}
/*navbar styling*/
.logo{
    width: 150px;
    height: 50px;
}

header{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.308),rgba(0, 0, 0, 0.199)), url(../images/arrange.jpg);
    background-position: center;
    background-size: cover;
    height: 622px;
    width: 100%;
}
.introduction{
    position: relative;
    top: 40%;
}
.introduction h2{
    width: auto;
    text-transform: uppercase;
    font-size: 50px;
}
.introduction .btn{
    border: 3px solid white ;
    width: 200px;
    height: 45px;
}
.introduction .btn:hover{
    background:#1a4584 ;
    border: none;
    transition: 0.2;
}
ul li a:hover{
    color: #1a4584;
}


@media (max-width : 700px){
    .bot{
        display: flex-box;
    }
    .introduction{
        position: relative;
        top: 10%;
    }
    header{
        height: 522px;
        width: 100%;
    }
    .introduction .btn{
        margin-bottom: 10px;
        padding:auto 0;
    }
}
/*hover display effect for dropdown menu in navbar*/
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}
/*horizontal cards styling*/
.projects-horizontal .container .intro{
    margin-top: 70px;
    margin-bottom: 30px;
}
.projects-horizontal .container .intro p{
    font-size: 20px;
}
.row-projects .item .row{
    padding-bottom: 30px;
}
.row-projects .row .name{
    padding-bottom: 0;
}
.info{
    background: #1a4584;
    border-color: #1a4584;
}
.info:hover{
    background: #3265b1;
}
/*speed delivery service*/

.delivery .container .row .delivery-text h3{
    color: #1a4584;
}
.delivery .container .row {
    margin-bottom: 100px;
}
/* how it works image and text */
.how-it-works .container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .how{
      height: 300px;
      
  }

/*what makes us stand our */
.stand{
    padding-bottom: 50px;
}
.stand hr{
    margin-bottom: 60px;
}
.stand .container .row .col-md-4 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90px;
}
.stand .container .row .col-md-4 h3{
    color: #1a4584;
}

/*testimonial*/
.testimonials-clean {
    color: #313437;
    background-color: #eef4f7;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  
  .testimonials-clean p {
    color: #7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom: 0;
  }
  
  .testimonials-clean .people {
    padding: 50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom: 32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height: 220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding: 30px;
    background-color: #fff;
    position: relative;
  }
  
  .testimonials-clean .item .box:after {
    content: '';
    position: absolute;
    left: 30px;
    bottom: -24px;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-width: 12px 15px;
    border-top-color: #fff;
  }
  
  .testimonials-clean .item .author {
    margin-top: 28px;
    padding-left: 25px;
  }
  
  .testimonials-clean .item .name {
    font-weight: bold;
    margin-bottom: 2px;
    color: inherit;
  }
  
  .testimonials-clean .item .title {
    font-size: 13px;
    color: #9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
  }
  
  .testimonials-clean .item img {
    max-width: 40px;
    float: left;
    margin-right: 12px;
    margin-top: -5px;
  }

/*end of testimonial*/

/*login and register highlight*/
.highlight-blue {
    color: #fff;
    background-color: #1a4584;
    padding: 50px 0;
  }
  
  .highlight-blue p {
    color: #c4d5ef;
    line-height: 1.5;
  }
  
  .highlight-blue h2 {
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    color: inherit;
  }
  
  .highlight-blue .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 25px;
  }
  
  .highlight-blue .buttons {
    text-align: center;
  }
  
  .highlight-blue .buttons .btn {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
  }
  
  .highlight-blue .buttons .btn:hover {
    color: #1a4584;
    background: white;
    opacity: 1;
  }
  
  .highlight-blue .buttons .btn:active {
    transform: translateY(1px);
  }
  
  .highlight-blue .buttons .btn-primary, .highlight-blue .buttons .btn-primary:active {
    border: 2px solid rgba(255,255,255,0.7);
    border-radius: 6px;
    color: #ebeff1;
    box-shadow: none;
    text-shadow: none;
    padding: 14px 24px;
    background: transparent;
    transition: background-color 0.25s;
  }
/*footer*/

.footer {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("../images/stack.jpg");
    background-size: cover;
    background-position: center;
    
}



.first {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
}

    .first h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }

        .first h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

    .first p {
        font-size: 14px;
    }

.second {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second2 {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.second h4 {
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    margin-bottom: 20px;
    font-size: 1.6em;
    color: #fff;
    padding-bottom: 0.5em;
}

    .second h4::after {
        content: '';
        background: #66c83d;
        width: 20%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 40%;
    }


.second li {
    list-style: none;
    padding-bottom: 30px;
}

.second a, .second2 a {
    color: rgb(206, 206, 206);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

    .second a:hover, .second2 a:hover {
        color: #fff;
        transition: 0.2s;
        text-shadow: 1px 1px 20px rgba(0,0,0,1);
        text-decoration: none

    }



.third {
    margin-top: 40px;
    margin-bottom: 50px;
    color: rgb(206,206,206);
    font-family: 'Poppins', sans-serif;
    text-align: right;
}


    .third h4 {
        font-size: 20px;
        letter-spacing: 3px;
        position: relative;
        margin-bottom: 20px;
        font-size: 1.6em;
        color: #fff;
        padding-bottom: 0.5em;
    }


        .third h4::after {
            content: '';
            background: #66c83d;
            width: 20%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 80%;
        }



    .third li {
        list-style: none;
        padding-bottom: 15px;
    }


    .third a {
        color: rgb(206, 206, 206);
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        transition: 0.2s;
    }


        .third a:hover {
            color: #fff;
            transition: 0.2s;
            text-shadow: 1px 1px 20px rgba(0,0,0,1);
        }


@media screen and (max-width:1000px) {
    .first {
        text-align: center;
    }

        .first h4::after {
            left: 40%;
        }
}

@media screen and (max-width:1000px) {
    .third {
        text-align: center;
    }

        .third h4::after {
            left: 40% !important;
        }
}

.margin {
    margin-left: 20px;
}

.line {
    height:2px;
    background-color:rgb(206,206,206);
    width:100%;
}

.container h1{
    text-align:center;
    margin-top:100px;
}